Repository jdfalk/apt-cacher-go, changes with the labels that .github/labeler.yml gives for each.
All labels: go, shell, yaml, json, markdown, github-actions, docker, documentation, configuration, tests, build, security, api, caching, dependencies

feat: Add backup super linter job and configuration for enhanced code quality checks
  .github/super-linter.env
  .github/workflows/pr-automation.yml
  .golangci.yml
Labels: yaml, github-actions, configuration

feat(workflows): update automation workflows to unified v2.0.0
  .github/workflows/pr-automation.yml
  .github/workflows/pr-automation.yml.backup
Labels: yaml, github-actions, configuration

feat(github): setup complete GitHub automation and structure
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pr-automation.yml
Labels: yaml, markdown, github-actions, documentation, configuration

feat: add CODEOWNERS file for global ownership and code management
  .github/CODEOWNERS
Labels: configuration

feat: add Dependabot configuration for Go, Docker, and GitHub Actions dependencies
  .github/dependabot.yml
Labels: yaml, configuration

Remove redundant workflow: unified-automation.yml
  .github/workflows/unified-automation.yml
Labels: yaml, github-actions, configuration

Add unified automation configuration
  .github/unified-automation-config.json
Labels: json, configuration

Add unified automation workflow
  .github/workflows/unified-automation.yml
Labels: yaml, github-actions, configuration

Remove redundant workflow: unified-automation.yml
  .github/workflows/unified-automation.yml
Labels: yaml, github-actions, configuration

Refactor documentation for improved readability and consistency
  .github/PULL_REQUEST_TEMPLATE.md
  .github/RELEASE_TEMPLATE.md
  .github/commit-messages.md
  .github/dependabot.yml
  .github/linters/README.md
  .github/pull-request-descriptions.md
  .github/scripts/README.md
  .github/scripts/super-linter-pr-comment.js
  .github/test-generation.md
  README.md
  docs/ai_assistant_guide.md
  docs/deployment_guide.md
  docs/technical_design.md
  docs/troubleshooting_guide.md
Labels: yaml, markdown, documentation, configuration, tests

feat: add sync receiver workflow for syncing files from ghcommon
  .github/workflows/sync-receiver.yml
Labels: yaml, github-actions, configuration

feat: update sync receiver with enhanced file sync capabilities
  .github/workflows/sync-receiver.yml
Labels: yaml, github-actions, configuration

fix(scripts): remove ::set-output from parse_config_json.py and bump version
  .github/scripts/parse_config_json.py
Labels: configuration

fix(scripts): format debug message for clarity in parse_config_json.py
  .github/scripts/parse_config_json.py
Labels: configuration

feat(ci): update CI workflow to version 1.1.0 with enhanced job structure and permissions
  .github/workflows/ci.yml
Labels: yaml, github-actions, configuration

feat: add platform-detecting wrapper script for copilot-agent-util
  copilot-agent-util
Labels: none

fix: add 'bin/' to .gitignore to exclude binary output from version control
  .gitignore
Labels: none

feat: create copilot-util-args file to define command-line arguments for copilot-agent-util
  copilot-util-args
Labels: none

feat: add comprehensive workflow configuration for apt-cacher-go
  .github/workflow-config.yaml
  .github/workflows/ci.yml
  .github/workflows/issue-automation.yml
  .github/workflows/pr-automation.yml
  .github/workflows/pr-automation.yml.backup
Labels: yaml, github-actions, configuration

feat: add sync receiver scripts for managing synchronization operations
  .github/scripts/sync-receiver-check-changes.py
  .github/scripts/sync-receiver-commit-push.py
  .github/scripts/sync-receiver-generate-summary.py
  .github/scripts/sync-receiver-sync-files.py
Labels: configuration

feat: update Super Linter configuration to version 1.1.0 and refine validation settings
  .github/super-linter.env
Labels: configuration

feat: update sync receiver script to version 1.2.0 with enhanced logging and error handling
  .github/scripts/sync-receiver-sync-files.py
Labels: configuration

feat: add comprehensive CI workflow configuration for multi-language support and automated testing
  .github/workflows/ci.yml
Labels: yaml, github-actions, configuration

feat: add matrix build job to CI workflow for optimized build execution
  .github/workflows/ci.yml
Labels: yaml, github-actions, configuration

feat: add build matrix detection script and CI workflow for multi-language support
  .github/scripts/detect-build-matrix.py
  .github/workflows/commit-override-handler.yml
  .github/workflows/matrix-build.yml
Labels: yaml, github-actions, configuration, api

fix(ci): update matrix build system with protobuf and frontend detection fixes
  .github/scripts/detect-build-matrix.py
  .github/workflows/matrix-build.yml
Labels: yaml, github-actions, configuration

feat: enhance Docker detection and security scanning in CI workflow
  .github/scripts/detect-build-matrix.py
  .github/scripts/docker-detect.py
  .github/scripts/docker-security.py
  .github/workflows/matrix-build.yml
Labels: yaml, github-actions, configuration, security

refactor: streamline Dependabot configuration by removing unused package ecosystems
  .github/dependabot.yml
Labels: yaml, configuration

feat: add comprehensive labels configuration for issue tracking and project management
  labels.json
Labels: json

feat: Add comprehensive release workflows for multiple languages and Docker
  .github/workflows/ci.yml
  .github/workflows/matrix-build.yml
  .github/workflows/release-docker.yml
  .github/workflows/release-frontend.yml
  .github/workflows/release-go.yml
  .github/workflows/release-python.yml
  .github/workflows/release-rust.yml
  .github/workflows/release.yml
  .github/workflows/sync-receiver.yml
Labels: yaml, github-actions, configuration

sync: update files from ghcommon
  .github/linters/.eslintrc.yml
  .github/linters/.golangci.yml
  .github/linters/.markdownlint.json
  .github/linters/.prettierrc
  .github/linters/.pylintrc
  .github/linters/.python-black
  .github/linters/.yaml-lint.yml
  .github/linters/README.md
  .github/linters/clippy.toml
  .github/linters/ruff.toml
  .github/linters/rustfmt.toml
Labels: yaml, json, markdown, documentation, configuration

sync: update files from ghcommon
  .github/linters/.markdownlint.json
Labels: json, configuration

feat: update release workflow to version 3.1.0 and add reusable invocation inputs
  .github/workflows/release.yml
Labels: yaml, github-actions, configuration

sync: update files from ghcommon
  .github/linters/.markdownlint.json
Labels: json, configuration

feat: update CI workflow to version 1.13.0 with improved job structure and linting enhancements
  .github/workflows/ci.yml
Labels: yaml, github-actions, configuration

fix(ci): replace matrix-build with release workflow and preserve comprehensive VALIDATE settings
  .github/workflows/ci.yml
Labels: yaml, github-actions, configuration

feat(ci): move Super Linter configuration to environment file
  .github/linters/super-linter.env
  .github/workflows/ci.yml
Labels: yaml, github-actions, configuration

chore(linter): remove duplicate super-linter.env file
  .github/super-linter.env
Labels: configuration

chore(linter): comment out all VALIDATE_ options by default
  .github/linters/super-linter.env
Labels: configuration

chore(linter): comment out all VALIDATE_ options by default
  .github/linters/super-linter.env
Labels: configuration

.github/labeler.yml:

# file: .github/labeler.yml
# version: 1.0.0
# guid: d0e1f2a3-b4c5-6789-abcd-123456789019

# Configuration for the GitHub Labeler action
# This file maps file patterns to labels for automatic PR labeling

# Programming Languages
"go":
  - "**/*.go"
  - "**/go.mod"
  - "**/go.sum"

"shell":
  - "**/*.sh"
  - "**/*.bash"
  - "**/*.zsh"

"yaml":
  - "**/*.yml"
  - "**/*.yaml"

"json":
  - "**/*.json"

"markdown":
  - "**/*.md"
  - "**/*.rst"

# Areas/Services
"github-actions":
  - ".github/workflows/**/*"
  - ".github/actions/**/*"

"docker":
  - "**/Dockerfile*"
  - "**/*.dockerfile"
  - "**/docker-compose*.yml"
  - "**/docker-compose*.yaml"

"documentation":
  - "**/*.md"
  - "**/*.rst"
  - "**/*.txt"
  - "docs/**/*"
  - "README*"
  - "CHANGELOG*"
  - "LICENSE*"

"configuration":
  - "**/*config*"
  - "**/*.conf"
  - "**/*.env"
  - "**/*.toml"
  - ".github/**/*"

"tests":
  - "**/*_test.go"
  - "**/test_*.go"
  - "test/**/*"
  - "tests/**/*"
  - "**/*test*"

"build":
  - "**/Makefile"
  - "**/*.mk"
  - "**/build*"
  - "scripts/**/*"

"security":
  - "**/*security*"
  - "**/*auth*"
  - "**/*ssl*"
  - "**/*tls*"
  - "**/*cert*"

"api":
  - "**/*api*"
  - "**/*handler*"
  - "**/*router*"
  - "**/*server*"

"caching":
  - "**/*cache*"
  - "**/*apt*"

"dependencies":
  - "**/go.mod"
  - "**/go.sum"
