Repository jdfalk/apt-cacher-go, changes with the labels that .github/labeler.yml gives for each.
All labels: go, shell, yaml, json, markdown, github-actions, docker, documentation, configuration, tests, build, security, api, caching, dependencies

feat(ci): move Super Linter configuration to environment file
  .github/linters/super-linter.env
Labels: configuration

fix(ci): resolve release workflow artifact dependency issues
  .github/workflows/release.yml
Labels: yaml, github-actions, configuration

feat(ci): move Super Linter configuration to environment file
  .github/linters/super-linter.env
Labels: configuration

feat(ci): move Super Linter configuration to environment file
  .github/linters/super-linter.env
Labels: configuration

sync: update files from ghcommon
  .github/linters/.eslintrc.yml
  .github/linters/super-linter-ci.env
  .github/linters/super-linter-pr.env
  .github/linters/super-linter.env
Labels: yaml, configuration

sync: update files from ghcommon
  .github/instructions/commit-messages.instructions.md
  .github/instructions/general-coding.instructions.md
  .github/instructions/go.instructions.md
  .github/instructions/protobuf.instructions.md
  .github/instructions/pull-request-descriptions.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/rust-utility.instructions.md
  .github/instructions/rust.instructions.md
Labels: markdown, documentation, configuration

sync: update files from ghcommon
  .github/instructions/go.instructions.md
  .github/instructions/javascript.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/r.instructions.md
  .github/instructions/typescript.instructions.md
Labels: markdown, documentation, configuration

fix(workflows): disable sync workflow for manual file management
  .github/workflows/sync-receiver.yml
Labels: yaml, github-actions, configuration

fix(instructions): wrap frontmatter with ignore markers and bump versions
  .github/instructions/commit-messages.instructions.md
  .github/instructions/general-coding.instructions.md
  .github/instructions/github-actions.instructions.md
  .github/instructions/go.instructions.md
  .github/instructions/html-css.instructions.md
  .github/instructions/javascript.instructions.md
  .github/instructions/json.instructions.md
  .github/instructions/markdown.instructions.md
  .github/instructions/protobuf.instructions.md
  .github/instructions/pull-request-descriptions.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/r.instructions.md
  .github/instructions/rust-utility.instructions.md
  .github/instructions/rust.instructions.md
  .github/instructions/security.instructions.md
  .github/instructions/shell.instructions.md
  .github/instructions/test-generation.instructions.md
  .github/instructions/typescript.instructions.md
Labels: markdown, documentation, configuration, tests, security

chore(docs): remove legacy doc-update manager script\n\nFiles removed:\n- doc_update_manager.py
  doc_update_manager.py
Labels: none

fix(ci): update Python and Go versions in CI configuration
  .github/scripts/detect-build-matrix.py
  .github/unified-automation-config.json
  .github/workflows/ci.yml
Labels: yaml, json, github-actions, configuration

fix(instructions): update version to 2.1.0 and add critical versioning guideline
  .github/instructions/general-coding.instructions.md
Labels: markdown, documentation, configuration

fix(linter): enable auto-fix for additional linters and validation flags
  .github/linters/super-linter-pr.env
Labels: configuration

fix(ci): update CI configuration to version 1.18.1 and improve file detection logic
  .github/workflows/ci.yml
Labels: yaml, github-actions, configuration

chore: remove outdated guidelines for code review, security, and test generation
  .github/review-selection.md
  .github/security-guidelines.md
  .github/test-generation.md
Labels: markdown, documentation, configuration, tests, security

docs: update README headers to use HTML comments for metadata
  scripts/README-notifications.md
  scripts/copilot-firewall/README.md
Labels: markdown, documentation, build

docs(instructions): add safe-ai-util.instructions.md
  .github/instructions/safe-ai-util.instructions.md
Labels: markdown, documentation, configuration

chore(github): remove outdated commit and pull request description templates
  .github/commit-messages.md
  .github/pull-request-descriptions.md
Labels: markdown, documentation, configuration

chore(goreleaser): add initial .goreleaser.yml configuration file
  .goreleaser.yml
Labels: yaml

fix(test): resolve variable shadowing in integration test helpers
  integration/helpers.go
Labels: go

chore(linters): remove .golangci.yml configuration file
  .github/linters/.golangci.yml
Labels: yaml, configuration

chore(linters): update .golangci.yml configuration
  .golangci.yml
Labels: yaml

chore(linters): add .golangci.yml configuration file with comprehensive linter settings
  .golangci.bck.yml
Labels: yaml

chore(linters): update .golangci.yml configuration for improved linting rules and settings
  .golangci.yml
Labels: yaml

chore(workflows): update action versions and workflow configurations
  .github/linters/super-linter-ci.env
  .github/linters/super-linter-pr.env
  .github/workflows/ci.yml
  .github/workflows/commit-override-handler.yml
  .github/workflows/integration-tests.yml
  .github/workflows/nightly.yaml
  .github/workflows/pr-validation.yml
  .github/workflows/release-docker.yml
  .github/workflows/release-frontend.yml
  .github/workflows/release-go.yml
  .github/workflows/release-python.yml
  .github/workflows/release-rust.yml
  .github/workflows/release-template.yml
  .github/workflows/release.yaml
  .github/workflows/release.yml
  .github/workflows/sync-receiver.yml
Labels: yaml, github-actions, configuration, tests, api

chore(instructions): remove outdated shell, test generation, and TypeScript instructions
  .github/dependabot.yml
  .github/instructions/commit-messages.instructions.md
  .github/instructions/general-coding.instructions.md
  .github/instructions/github-actions.instructions.md
  .github/instructions/go.instructions.md
  .github/instructions/html-css.instructions.md
  .github/instructions/javascript.instructions.md
  .github/instructions/json.instructions.md
  .github/instructions/markdown.instructions.md
  .github/instructions/protobuf.instructions.md
  .github/instructions/pull-request-descriptions.instructions.md
  .github/instructions/python.instructions.md
  .github/instructions/r.instructions.md
  .github/instructions/rust-utility.instructions.md
  .github/instructions/rust.instructions.md
  .github/instructions/safe-ai-util.instructions.md
  .github/instructions/security.instructions.md
  .github/instructions/shell.instructions.md
  .github/instructions/test-generation.instructions.md
  .github/instructions/typescript.instructions.md
Labels: yaml, markdown, documentation, configuration, tests, security

Remove Trivy - compromised supply chain
  .github/agents/Security Scanner Coordinator.agent.md
  .github/scripts/docker-security.py
  .github/workflows/release-docker.yml
Labels: yaml, markdown, github-actions, documentation, configuration, security

Remove Trivy - compromised supply chain
  .github/agents/Security Scanner Coordinator.agent.md
  .github/scripts/docker-security.py
  .github/workflows/release-docker.yml
Labels: yaml, markdown, github-actions, documentation, configuration, security

chore: update ghcommon workflow refs to v1.10.4
  .github/workflows/ci.yml
Labels: yaml, github-actions, configuration

chore: update ghcommon workflow refs to v1.10.4
  .github/workflows/ci.yml
Labels: yaml, github-actions, configuration

chore(gitignore): sync managed ignore block
  .gitignore
Labels: none

.github/labeler.yml:

# file: .github/labeler.yml
# version: 1.0.0
# guid: d0e1f2a3-b4c5-6789-abcd-123456789019

# Configuration for the GitHub Labeler action
# This file maps file patterns to labels for automatic PR labeling

# Programming Languages
"go":
  - "**/*.go"
  - "**/go.mod"
  - "**/go.sum"

"shell":
  - "**/*.sh"
  - "**/*.bash"
  - "**/*.zsh"

"yaml":
  - "**/*.yml"
  - "**/*.yaml"

"json":
  - "**/*.json"

"markdown":
  - "**/*.md"
  - "**/*.rst"

# Areas/Services
"github-actions":
  - ".github/workflows/**/*"
  - ".github/actions/**/*"

"docker":
  - "**/Dockerfile*"
  - "**/*.dockerfile"
  - "**/docker-compose*.yml"
  - "**/docker-compose*.yaml"

"documentation":
  - "**/*.md"
  - "**/*.rst"
  - "**/*.txt"
  - "docs/**/*"
  - "README*"
  - "CHANGELOG*"
  - "LICENSE*"

"configuration":
  - "**/*config*"
  - "**/*.conf"
  - "**/*.env"
  - "**/*.toml"
  - ".github/**/*"

"tests":
  - "**/*_test.go"
  - "**/test_*.go"
  - "test/**/*"
  - "tests/**/*"
  - "**/*test*"

"build":
  - "**/Makefile"
  - "**/*.mk"
  - "**/build*"
  - "scripts/**/*"

"security":
  - "**/*security*"
  - "**/*auth*"
  - "**/*ssl*"
  - "**/*tls*"
  - "**/*cert*"

"api":
  - "**/*api*"
  - "**/*handler*"
  - "**/*router*"
  - "**/*server*"

"caching":
  - "**/*cache*"
  - "**/*apt*"

"dependencies":
  - "**/go.mod"
  - "**/go.sum"
